VUE_APP_SEARCH_URL =https://hotels4.p.rapidapi.com/locations/v2/search

VUE_APP_SEARCH_HOTEL_URL = https://hotels4.p.rapidapi.com/hotels/v2/list
VUE_APP_SEARCH_HOTEL_DETAIL_URL = https://hotels4.p.rapidapi.com/hotels/v2/details
VUE_APP_SEARCH_HOTEL_IMAGE_URL = https://images.hotels4.p.rapidapi.com/images
VUE_APP_HOST_HEADER = HEADER OF rapidapi.com
VUE_APP_HOST_HEADER_KEY = YOUR KEY



//photos
VUE_APP_HOTEL_PHOTOS_URL = https://hotels4.p.rapidapi.com/properties/get-hotel-photos

//List hotels
VUE_APP_SEARCH_AS_LIST_URL =https://hotels4.p.rapidapi.com/properties/list
